@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Oxanium:wght@300&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;
}

.calculator-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.calculator {
  height: 80vh;
  width: 100%;
  padding: 16px;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title-calculator,
.calculator-log {
  font-family: "Oxanium", cursive;
}

.calculator-log {
  width: 20%;
  font-size: 1.5rem;
  margin-right: 10%;
  padding: 2%;
  overflow-x: scroll;
}

.calculator-log ul {
  list-style-type: none;
}
.calculator-log li {
  text-align: start;
  text-wrap: balance;
}

.calculator-display {
  font-family: "Chakra Petch", sans-serif;
  background-color: #85d84e98;
  width: 100%;
  height: 3rem;
  font-size: 2.5rem;
  margin: 16px auto;
  padding: auto;
  display: flex;
  align-items: center;
  padding: 0.2em;
  justify-content: end;
}

.calculator-button-zone {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-areas:
    "special-operator-zone special-operator-zone"
    "number-zone operator-zone";
  grid-template-columns: 6fr 1fr;
  gap: 16px;
}

.special-operation-zone {
  grid-area: special-operator-zone;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operator-zone {
  grid-area: operator-zone;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.number-zone {
  grid-area: number-zone;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 2px;
}

.calculator-button-zone button {
  font-family: "Sriracha", cursive;
}

.number-zone button {
  width: 100%;
  height: 5rem;
  font-size: 32px;
}
.operator-zone button {
  width: 100%;
  height: 5rem;
  font-size: 32px;
}
.special-operation-zone button {
  width: 24%;
  height: 2rem;
  font-size: 16px;
}

button:disabled {
  opacity: 0.5;
}
